<html>
    <head>
      <title>FlaskPlay</title>
      <meta charset = "UTF-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body style="background-color:rgb(208, 206, 206);"></body>
        <nav class="navbar navbar-dark bg-dark"> 
            <div class="container">
                <a class="navbar-brand" href="/">HOME</a>
                <a class="navbar-brand" href="/profiles">PROFILES</a>
                <a class="navbar-brand" href="/dashboard">DASHBOARD</a>
            </div>
        </nav>        
        {% block content %}{% endblock %}
    </body>
</html>