{% extends "_base.html" %}
{% block content %}
<div class="jumbotron mb-0">
    <h1 class="display-4">Welcome to FlaskPlay!</h1>
    <p class="lead">Add music to your personalized playlist from a curated song library.</p>
    <hr class="my-4">
    <p> Navigate to Profiles to see all the user profiles of FlaskFM. </p> 
    <p>Navigate to Dashboard to add new songs to the song library.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/profiles" role="button">Check out our users</a>
    </p>
  </div>
<div>
    <img style="width:100%" src="./static/images/music_cr.jpg" alt="">
</div>  

{% endblock %}